<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Add Customer Service</title>
	<link rel="stylesheet" type="text/css"
		  href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style type="text/css">
.rTable {
	display: table;
}

.rTableRow {
	display: table-row;
	margin:  0 10px;
}

.rTableHeading {
	display: table-header-group;
}

.rTableBody {
	display: table-row-group;
}

.rTableFoot {
	display: table-footer-group;
}

.rTableCell, .rTableHead {
	display: table-cell;
	padding: 3px 10px;
	vertical-align: middle;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container">
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#"  onClick="return insertDiv();">Add Another Service</a></li>
				<li><a href="#" onClick="return saveDiv();">Save</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="wo">
	<input type="hidden" id="name" value="cts"/>
	<input type="hidden" id="customerid" value="cts1"/>
	<input type="hidden" id="status" value="open"/>
	Details : <input type="text" id="details" cols="40" rows="5" style="width:200px; height:50px;" /><br/><br/>
	Start Date: <input type="text" id="date"/><br/><br/><hr/>
</div>
</body>

<script>



function saveDiv(){
var saveArray=[];
    $('.container div').each(function() {

    var saveObj={};
    saveObj["name"]=$(this).find('#name').val();
    saveObj["customerid"]=$(this).find('#customerid').val();
    saveObj["status"]=$(this).find('#status').val();
    saveObj["details"]=$(this).find('#details').val();
    saveObj["date"]=$(this).find('#date').val();
    saveArray.push(saveObj);
    });
    saveWorkOrder(saveArray);
}

function saveWorkOrder(saveArray){
    console.log("test--"+JSON.stringify(saveArray));
    $.ajax({
            url: "/changeStatus/",
            method : "POST",
            data : JSON.stringify(saveArray),
            success: function(data) {
                alert("Data updated successfully")
            }
        });
}



function insertDiv(){
$('.container').append(("<div id='wo'> Details:  <input type='text' id='details' cols='40' rows='5' style='width:200px; height:50px;' /> <br/><br/> Date:<input id='date' type='text'/> <br/><br/><hr/> </div>" ));
}



</script>
</html>
